/* Primary colors */
@property --background-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #130F40;
}

@property --blue-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #30336B;  
}

@property --white-color {
    syntax: "<color>";
    inherits: false;
    initial-value: white;  
}

@property --ball-blue-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #686DE0;
}

@property --ball-yellow-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #9C7244;
}

@property --dark-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #181620;
}

/* Accent colors */
@property --accent-yellow-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #F9CA24;  
}

@property --accent-green-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #54B332;
}

@property --accent-light-green-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #BADC58;
}

@property --accent-blue-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #178AC9;  
}

@property --accent-blue-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #FF240A;  
}

@property --accent-light-red-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #FF7979;
}


